<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}urlinfo | incongru.org!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Crimson+Text" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
