{% extends 'base.html.twig' %}

{% block body %}
<h1><a href="">urlinfo.incongru.org</a></h1>

<p>Ce service permet d'extraire les métadonnées d'une URL donnée</p>

<h2>Utilisation</h2>

<form action="info">
    <input name="url" size="64" />
    <input type="submit" />
</form>

{% endblock %}
