{% extends 'base.html.twig' %}

{% block body %}
<h1><a href="">urlinfo.incongru.org</a></h1>

<img id="ananas" src="http://www.musiques-incongrues.net/forum/extensions/Vanillacons/smilies/otro%20-%20fruits/pin01.gif" title="ANANAS !" alt="Ananas" />

<p>
    Ce service permet d'extraire les métadonnées d'une URL et d'en obtenir une représentation au format JSON.
</p>

<div id="container" class="narrow">

    <hr />

    <h2>Démo</h2>

    <form action="index.php/info" target="_blank">
        <input name="url" size="92" value="https://lesyndicatdesscorpions.bandcamp.com/album/nina-harker" />
        <input type="submit" value="ZOU !" />
    </form>

    <h2>Documentation</h2>

    <h3>Référence</h3>

    <dl>
        <dt>Endpoint</dt>
        <dd><a href="http://urlinfo.incongru.org/index.php/info">http://urlinfo.incongru.org/index.php/info</a></dd>
        <dt>Query string parameters</dt>
        <dd>
            <strong>fields</strong> : La liste des champs à retourner dans la réponse, séparés par une virgule. Par défaut, tous les champs sont retournés : authorName, authorUrl, code, description, feeds, height, imagesUrls, license, providerIconsUrls, providerName, providerUrl, publishedTime, tags, title, type, url, width
        </dd>
        <dd><strong>options</strong> : Options transmises à la librairie d'extraction des métadonnées : <a href="https://github.com/oscarotero/Embed#example-with-all-options">https://github.com/oscarotero/Embed#example-with-all-options</a></dd>
        <dd><strong>providers</strong> : Liste de noms de providers en minuscules, séparés par des virgules. Les données additionnelles extraites par ces providers seront intégrés à la réponse. La liste des provider est disponible à cette adresse : <a href="https://github.com/oscarotero/Embed#the-providers">https://github.com/oscarotero/Embed#the-providers</a></dd>
        <dd><strong>url</strong> : L'URL dont les métadonnées doivent être extraites</dd>
    </dl>

    <h3>Exemples</h3>

    <h4>Bandcamp</h4>

    <h5>Requête</h5>
    <div style="background: #ffffff; overflow:auto;width:auto;"><pre style="margin: 0; line-height: 125%">GET <span style="color: #888888">http://urlinfo.incongru.org/index.php/info?url=https://lesyndicatdesscorpions.bandcamp.com/album/nina-harker</span>
    </pre></div>


    <h5>Réponse</h5>
    <div style="background: #ffffff; overflow:auto;width:auto;"><pre style="margin: 0; line-height: 125%">{
   <span style="color: #007700">&quot;authorName&quot;</span>:<span style="color: #008800; font-weight: bold">null</span>,
   <span style="color: #007700">&quot;authorUrl&quot;</span>:<span style="color: #008800; font-weight: bold">null</span>,
   <span style="color: #007700">&quot;code&quot;</span>:<span style="background-color: #fff0f0">&quot;\u003Ciframe src=\u0022https:\/\/bandcamp.com\/EmbeddedPlayer\/v=2\/album=2714915873\/size=large\/tracklist=false\/artwork=small\/\u0022 frameborder=\u00220\u0022 allowTransparency=\u0022true\u0022 style=\u0022border:none;overflow:hidden;width:400;height:120;\u0022\u003E\u003C\/iframe\u003E&quot;</span>,
   <span style="color: #007700">&quot;description&quot;</span>:<span style="background-color: #fff0f0">&quot;2 track album&quot;</span>,
   <span style="color: #007700">&quot;feeds&quot;</span>:[

   ],
   <span style="color: #007700">&quot;height&quot;</span>:<span style="color: #0000DD; font-weight: bold">120</span>,
   <span style="color: #007700">&quot;imagesUrls&quot;</span>:[
      <span style="background-color: #fff0f0">&quot;https:\/\/f4.bcbits.com\/img\/a3131533251_5.jpg&quot;</span>,
      <span style="background-color: #fff0f0">&quot;https:\/\/f4.bcbits.com\/img\/a3131533251_16.jpg&quot;</span>,
      <span style="background-color: #fff0f0">&quot;https:\/\/lesyndicatdesscorpions.bandcamp.com\/img\/0.gif&quot;</span>
   ],
   <span style="color: #007700">&quot;license&quot;</span>:<span style="color: #008800; font-weight: bold">null</span>,
   <span style="color: #007700">&quot;providerIconsUrls&quot;</span>:[
      <span style="background-color: #fff0f0">&quot;https:\/\/lesyndicatdesscorpions.bandcamp.com\/favicon.ico&quot;</span>,
      <span style="background-color: #fff0f0">&quot;https:\/\/lesyndicatdesscorpions.bandcamp.com\/favicon.png&quot;</span>,
      <span style="background-color: #fff0f0">&quot;https:\/\/f4.bcbits.com\/img\/a3131533251_3.jpg&quot;</span>
   ],
   <span style="color: #007700">&quot;providerName&quot;</span>:<span style="background-color: #fff0f0">&quot;Le Syndicat Des Scorpions&quot;</span>,
   <span style="color: #007700">&quot;providerUrl&quot;</span>:<span style="background-color: #fff0f0">&quot;https:\/\/bandcamp.com&quot;</span>,
   <span style="color: #007700">&quot;publishedTime&quot;</span>:<span style="background-color: #fff0f0">&quot;20171127&quot;</span>,
   <span style="color: #007700">&quot;tags&quot;</span>:[

   ],
   <span style="color: #007700">&quot;title&quot;</span>:<span style="background-color: #fff0f0">&quot;Nina Harker, by NINA HARKER&quot;</span>,
   <span style="color: #007700">&quot;type&quot;</span>:<span style="background-color: #fff0f0">&quot;video&quot;</span>,
   <span style="color: #007700">&quot;url&quot;</span>:<span style="background-color: #fff0f0">&quot;https:\/\/lesyndicatdesscorpions.bandcamp.com\/album\/nina-harker&quot;</span>,
   <span style="color: #007700">&quot;width&quot;</span>:<span style="color: #0000DD; font-weight: bold">400</span>
}
</pre></div>

    <h4>Événement Facebook</h4>

    <h5>Requête</h5>

    <div style="background: #ffffff; overflow:auto;width:auto;"><pre style="margin: 0; line-height: 125%">GET <span style="color: #888888">http://urlinfo.incongru.org/index.php/info?url=https://www.facebook.com/events/714130562114536/&options[facebook][token]=MYFACEBOOKTOKEN&providers=facebook</span>
    </pre></div>

    <h5>Réponse</h5>

<div style="background: #ffffff; overflow:auto;width:auto;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;authorName&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;authorUrl&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;code&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;description&quot;</span>: <span style="background-color: #fff0f0">&quot;Les ami\u22c5e\u22c5s,\n\nLe mois de d\u00e9cembre approche \u00e0 grands pas, apportant avec lui ses traditionnelles indigestions gastronomiques et familiales.\n\nC&#39;est aussi l&#39;occasion pour nous d&#39;organiser le quatri\u00e8me March\u00e9 de No\u00ebl de la Rue des Gardes.\n\nAu menu cette ann\u00e9e :\n\n- tous les disques, cassettes, livres, s\u00e9rigraphies, v\u00eatements et autres colifichets que nous distribuons (dont une partie de choses que nous amenons rarement avec nous sur les stands car elles sont trop fragiles)\n- des cr\u00e9ations de l&#39;atelier de hot-couture Iculaire\n- les disques de l&#39;excellente distro \u0189\u025b\u0260\u0259\u026d\u0268\u0288e\n- un stand de s\u00e9rigraphie\n- trois (!) lives : Wurstbr\u00fccke Povera Blenno, Ravi Shardja et Wankers United (\u00e0 l&#39;occasion de la sortie de sa nouvelle cassette chez Da ! Heard It Records)\n- du vin chaud d\u00e9licieux et des boules (de No\u00ebl) japonaises d\u00e9licieuses concoct\u00e9s par la d\u00e9licieuse Sylvie Astii\n- 80 litres de bi\u00e8re brass\u00e9e et embouteill\u00e9e par Kro Bock selon trois recettes originales sp\u00e9cialement cr\u00e9\u00e9es pour l&#39;occasion\n\nFichtre \u00e7a en fait des choses.\n\nL&#39;\u00e9v\u00e9nement se tiendra cette ann\u00e9e le samedi 16 d\u00e9cembre de 14h \u00e0 20h in situ au 34 rue des Gardes \u00e0 la Goutte d&#39;Or (pour obtenir le digicode : 06 219 219 33).\n\nLe graphisme somptueux et inqui\u00e9tant a \u00e9t\u00e9 r\u00e9alis\u00e9 par Goupil Acneique.\n\nVenez !&quot;</span>,
  <span style="color: #007700">&quot;feeds&quot;</span>: [

  ],
  <span style="color: #007700">&quot;height&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;imagesUrls&quot;</span>: [
    <span style="background-color: #fff0f0">&quot;https:\/\/graph.facebook.com\/714130562114536\/picture&quot;</span>
  ],
  <span style="color: #007700">&quot;license&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;providerIconsUrls&quot;</span>: [
    <span style="background-color: #fff0f0">&quot;https:\/\/www.facebook.com\/favicon.ico&quot;</span>,
    <span style="background-color: #fff0f0">&quot;https:\/\/www.facebook.com\/favicon.png&quot;</span>,
    <span style="background-color: #fff0f0">&quot;https:\/\/static.xx.fbcdn.net\/rsrc.php\/yV\/r\/hzMapiNYYpW.ico&quot;</span>
  ],
  <span style="color: #007700">&quot;providerName&quot;</span>: <span style="background-color: #fff0f0">&quot;Facebook&quot;</span>,
  <span style="color: #007700">&quot;providerUrl&quot;</span>: <span style="background-color: #fff0f0">&quot;https:\/\/facebook.com&quot;</span>,
  <span style="color: #007700">&quot;publishedTime&quot;</span>: <span style="background-color: #fff0f0">&quot;2017-12-16T14:00:00+0100&quot;</span>,
  <span style="color: #007700">&quot;tags&quot;</span>: [

  ],
  <span style="color: #007700">&quot;title&quot;</span>: <span style="background-color: #fff0f0">&quot;Vente de No\u00ebl : Rue Des Gardes (2017)&quot;</span>,
  <span style="color: #007700">&quot;type&quot;</span>: <span style="background-color: #fff0f0">&quot;link&quot;</span>,
  <span style="color: #007700">&quot;url&quot;</span>: <span style="background-color: #fff0f0">&quot;https:\/\/www.facebook.com\/events\/714130562114536\/&quot;</span>,
  <span style="color: #007700">&quot;width&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;facebook&quot;</span>: {
    <span style="color: #007700">&quot;description&quot;</span>: <span style="background-color: #fff0f0">&quot;Les ami\u22c5e\u22c5s,\n\nLe mois de d\u00e9cembre approche \u00e0 grands pas, apportant avec lui ses traditionnelles indigestions gastronomiques et familiales.\n\nC&#39;est aussi l&#39;occasion pour nous d&#39;organiser le quatri\u00e8me March\u00e9 de No\u00ebl de la Rue des Gardes.\n\nAu menu cette ann\u00e9e :\n\n- tous les disques, cassettes, livres, s\u00e9rigraphies, v\u00eatements et autres colifichets que nous distribuons (dont une partie de choses que nous amenons rarement avec nous sur les stands car elles sont trop fragiles)\n- des cr\u00e9ations de l&#39;atelier de hot-couture Iculaire\n- les disques de l&#39;excellente distro \u0189\u025b\u0260\u0259\u026d\u0268\u0288e\n- un stand de s\u00e9rigraphie\n- trois (!) lives : Wurstbr\u00fccke Povera Blenno, Ravi Shardja et Wankers United (\u00e0 l&#39;occasion de la sortie de sa nouvelle cassette chez Da ! Heard It Records)\n- du vin chaud d\u00e9licieux et des boules (de No\u00ebl) japonaises d\u00e9licieuses concoct\u00e9s par la d\u00e9licieuse Sylvie Astii\n- 80 litres de bi\u00e8re brass\u00e9e et embouteill\u00e9e par Kro Bock selon trois recettes originales sp\u00e9cialement cr\u00e9\u00e9es pour l&#39;occasion\n\nFichtre \u00e7a en fait des choses.\n\nL&#39;\u00e9v\u00e9nement se tiendra cette ann\u00e9e le samedi 16 d\u00e9cembre de 14h \u00e0 20h in situ au 34 rue des Gardes \u00e0 la Goutte d&#39;Or (pour obtenir le digicode : 06 219 219 33).\n\nLe graphisme somptueux et inqui\u00e9tant a \u00e9t\u00e9 r\u00e9alis\u00e9 par Goupil Acneique.\n\nVenez !&quot;</span>,
    <span style="color: #007700">&quot;end_time&quot;</span>: <span style="background-color: #fff0f0">&quot;2017-12-16T20:00:00+0100&quot;</span>,
    <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;Vente de No\u00ebl : Rue Des Gardes (2017)&quot;</span>,
    <span style="color: #007700">&quot;place&quot;</span>: {
      <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;34 Rue des Gardes, 75018 Paris, France&quot;</span>
    },
    <span style="color: #007700">&quot;start_time&quot;</span>: <span style="background-color: #fff0f0">&quot;2017-12-16T14:00:00+0100&quot;</span>,
    <span style="color: #007700">&quot;id&quot;</span>: <span style="background-color: #fff0f0">&quot;714130562114536&quot;</span>
  }
}
</pre></div>


    <hr />
</div>


<p><a href="https://urlinfo.incongru.org">urlinfo.incongru.org</a> est développé par <a href="http://www.constructions-incongrues.net/">Constructions Incongrues</a> et est hébergé par <a href="http://www.pastis-hosting.net">Pastis Hosting</a>.</p>
<p>Le code source du service est <a href="https://github.com/constructions-incongrues/org.incongru.urlinfo">distribué</a> sous licence <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero GPLv3</a>.</p>
{% endblock %}
